<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>List Daftar Film</h1>
	<input type="text"><br/>
	<a th:text="${listfilm_kodefilm}"></a><br/>
	<a th:text="${listfilm_namafilm}"></a><br/>
	<a th:text="${listfilm_artis}"></a><br/>
</body>
</html>