<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xmhtml"
	  xmlns:th="http://www.thymleaft.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Hasil Pendaftaran PNS</h1>
	<input type="text"><br/>
	<a th:text="${hasil_nama}"></a><br/>
	<a th:text="${hasil_tanggal}"></a><br/>
	<a th:text="${hasil_kota}"></a><br/>
	<a th:text="${hasil_jk}"></a><br/>
	<a th:text="${hasil_alamat}"></a><br/>
</body>
</html>