<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xmhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Sukses</h1>
		<a th:text="${dokterModel.iDokter}"></a><br/>
		<a th:text="${dokterModel.namaDokter}"></a><br/>
		<a th:text="${dokterModel.gelarDokter}"></a><br/>
</body>
</html>