<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xmhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Menu List</h1>
	<table border="1">
		<tr>
			<td>Id Dokter</td>
			<td>Nama Dokter</td>
			<td>Gelar Dokter</td>
		</tr>
		<tr th:each="dokterModel:${dokterModels}">
			<td><a th:text = "${dokterModel.iDokter}"></a></td>
			<td><a th:text = "${dokterModel.namaDokter}"></a></td>
			<td><a th:text = "${dokterModel.gelarDokter}"></a></td>
		</tr>
	</table>
</body>
</html>