<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xmhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Cari Produk</h1>
	<form action="cari_kode" method="post">
	Kode Produk<input type="text" name="katakunci_kode">
	<button>Cari</button>
	</form>
	<form action="cari_produk" method="post">
	Nama Produk<input type="text" name="katakunci_nama">
	<button>Cari</button>
	</form>
	<table border="1">
	<tr>
		<td>Kode Produk</td>
		<td>Nama Produk</td>
		<td>Harga Produk</td>
	</tr>
	<tr th:each="produkModel:${produkModelList}">
		<td><input type="text" th:text = "${produkModel.kodeProduk}" name="kode"></td>
		<td><input type="text" th:text = "${produkModel.namaProduk}" name="nama"></td>
		<td><input type="text" th:text = "${produkModel.hargaProduk}" name="harga"></td>
	</tr>
	</table>
</body>
</html>