<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Hasil Daftar</h1>
	<a th:text="${hasil_nama}"></a><br/>
	<a th:text="${hasil_jabatan}"></a><br/>
</body>
</html>