<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xmhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Banyak Dosen</h1>
	<table border="1">
	<tr>
		<td>NamaDosen</td>
		<td>UsiaDosen</td>
		<td>Ubah</td>
		<td>delete</td>
	</tr>
	<tr th:each="dosenModel:${dosenModelList}">
		<td><a th:text = "${dosenModel.namaDosen}"></a></td>
		<td><a th:text = "${dosenModel.usiaDosen}"></a></td>
		<td><a th:href="@{ubah_dosen?(namaID=${dosenModel.namaDosen})}">link ubah</a></td>
		<td><a th:href="@{hapus_dosen?(namaID=${dosenModel.namaDosen})}">link Delete</a></td>
	</tr>
	</table>
</body>
</html>