<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Cari Nama Dosen</h1>
	<form action="proses_cari_nama" method="post">
	Nama<input type="text" name="katakunci_nama">
	<button>Cari</button>
	</form>
	<table border="1">
	<tr>
		<td>Nama Dosen</td>
		<td>Usia Dosen</td>
	</tr>
	<tr th:each="dosenModel:${dosenModelList}">
		<td><input type="text" th:text = "${dosenModel.namaDosen}" name="namaID"></td>
		<td><input type="text" th:text = "${dosenModel.usiaDosen}" name="usia"></td>
	</tr>
	</table>
</body>
</html>