<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xmhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Ubah Dosen</h1>
	<form action="hasil_ubah_dosen" method="post">
	<th:each="dosenModel:${dosenModelList}">
		Nama : <input type="text" th:value="${dosenModel.namaDosen}" readonly="readonly" name="namaID"><br/>
		Usia : <input type="text" th:value = "${dosenModel.usiaDosen}" name="usia"><br/>
	<button type="submit">Ubah</button>
	</form>
</body>
</html>